
<div class="page" data-page="main" data-handler="MainPage">

    <h1 data-t="">Neural network</h1>

    <h5 class="mb-3">
        <span data-t="">Handwritten digit recognition using a neural network with a single hidden layer.</span>
    </h5>

    <p class="mb-3">
        <span data-t="">In addition to using already trained networks, you can train your network by setting initial parameters, and evaluate the result on test data.</span>
        <br>
        <span data-t="">Networks are trained on pre-marked data (training with a teacher).</span>
    </p>

    <div class="main-controls row">
        <div class="col-md-4">
            <button class="btn-danger btn" data-action="recognize">
                <span data-t="">Recognize</span>
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn-success btn" data-action="train">
                <span data-t="">Train</span>
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn-primary btn" data-action="test">
                <span data-t="">Test</span>
            </button>
        </div>
    </div>
</div>